@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* //! for production only */
  /* outline: 1px dashed darkred; */
}

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

/* @media (prefers-color-scheme: dark) { */
/* :root { */
/* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
/* } */
/* } */

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

/* custom classes */
@layer components {
  /* .production-outline {
    @apply outline-1 outline-rose-950 outline-dashed;
  } */
}

@layer base {
  :root {
    /* --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255; */
    --color-background: "#FFFFFF";
    --color-content: "#000000";
    --color-accent1: "#FF0000";
    --color-accent2: "#FFFF00";
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-background: "#000000";
      --color-content: "#FFFFFF";
      --color-accent1: "#FF0000";
      --color-accent2: "#FFFF00";
    }
  }
}
